In [85]:
import numpy as np
import pandas as pd
from tqdm import tqdm
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold
from sklearn.linear_model import LinearRegression, LogisticRegression, Ridge, Lasso
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.metrics import accuracy_score, get_scorer_names, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, VotingClassifier
from sklearn.ensemble import HistGradientBoostingClassifier, ExtraTreesClassifier
from sklearn.ensemble import StackingClassifier
from sklearn.naive_bayes import GaussianNB, CategoricalNB
from sklearn.feature_selection import SelectKBest, chi2, mutual_info_classif
from xgboost import XGBClassifier
import xgboost as xgb
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.pipeline import Pipeline
from imblearn.over_sampling import SMOTE
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
from statistics import mode as md
from matplotlib import pyplot as plt
from IPython.display import clear_output

In [86]:
testing = pd.read_csv("tanzanian_water_wells/X_test.csv")
X = pd.read_csv("tanzanian_water_wells/X_train.csv")
y = pd.read_csv("tanzanian_water_wells/y_train.csv")['status_group']

In [87]:
X = X.drop(['id', 'wpt_name', 'subvillage', 'installer', 'funder', 'scheme_name', 'ward', 'date_recorded', 'recorded_by'], axis=1)
testing = testing.drop(['id', 'wpt_name', 'subvillage', 'installer', 'funder', 'scheme_name', 'ward', 'date_recorded', 'recorded_by'], axis=1)

# Defining the train and test sets

In [88]:
# Eliminating null values from X_train
X.scheme_management.fillna("None", inplace=True)
X.permit.fillna('Unknown', inplace=True)
X.public_meeting.fillna('Unknown', inplace=True)

# X['public_meeting'] = X['public_meeting'].map({True: 'Yes', False: 'No', 'Unknown': 'Unknown'})
X['permit'] = X['permit'].map({True: 'Yes', False: 'No', 'Unknown': 'Unknown'})
X['gps_height'] = X['gps_height'].astype('float64')
# X['district_code'] = X['district_code'].astype('float64')
X['population'] = X['population'].astype('float64')
X['construction_year'] = X['construction_year'].astype('int64')
X['region_code'] = X['region_code'].astype('str')
X['district_code'] = X['district_code'].astype('str')

X_cat = X.select_dtypes(exclude=['float64', 'int64'])
X_cat = X_cat.astype('str')
X_numeric = X.select_dtypes(['float64', 'int64'])

oe = OrdinalEncoder()
oe.fit(X_cat)
X_cat = pd.DataFrame(oe.transform(X_cat), index = X_cat.index, columns = X_cat.columns)

mms = MinMaxScaler()
mms.fit(X_numeric)
X_numeric = pd.DataFrame(mms.transform(X_numeric), columns = X_numeric.columns, index = X_numeric.index)

y = y.map({'functional': 0, 'functional needs repair': 1, 'non functional': 2})

In [89]:
names = ['chi2', 'mi', 'forest']

functions = [SelectKBest(score_func=chi2, k='all').fit(X_cat, y), 
             SelectKBest(score_func=mutual_info_classif, k='all').fit(X_cat, y), 
             RandomForestClassifier(random_state=42, n_jobs=6, class_weight='balanced').fit(X_cat, y)]

function_results = {name: None for name in names}

for name, function in list(zip(names, functions)):
    try:
        function_results[name] = pd.DataFrame({'feature': function.feature_names_in_, 'score': function.scores_}).sort_values(by=['score'], ascending=False).reset_index()
    except:
        function_results[name] = pd.DataFrame({'feature': function.feature_names_in_, 'score': function.feature_importances_}).sort_values(by=['score'], ascending=False).reset_index()

In [90]:
cols = list(X_cat.columns)

rankings = {name: [] for name in names}

for name in names:
    df = function_results[name].sort_values(by=['score'], ascending=False).reset_index()
    for col in cols:
        rankings[name].append(df[df.feature == col].index[0])
        
        
rankings = pd.DataFrame(rankings)
rankings['feature'] = cols
rankings['average'] = rankings.apply(lambda row: (row.chi2 + row.mi + row.forest)/3, axis=1)
rankings.sort_values(by=['average'])

    chi2  mi  forest                feature    average
4      0   2       2                    lga   1.333333
18    10   0       1         quantity_group   3.666667
17    11   1       0               quantity   4.000000
22     3   4       9        waterpoint_type   5.333333
10     1   5      12  extraction_type_class   6.000000
2      7   8       4            region_code   6.333333
1      6   9       5                 region   6.666667
8      4   3      14        extraction_type   7.000000
9      2   6      13  extraction_type_group   7.000000
13     8  10       8                payment   8.666667
23     5   7      17  waterpoint_type_group   9.666667
3      9  19       3          district_code  10.333333
14    13  11       7           payment_type  10.333333
0     18  17       6                  basin  13.666667
6     17  15      10      scheme_management  14.000000
19    14  13      15                 source  14.000000
11    19  16      11             management  15.333333
20    12  18      19            source_type  16.333333
16    15  14      21          quality_group  16.666667
15    23  12      20          water_quality  18.333333
7     20  20      16                 permit  18.666667
5     22  21      18         public_meeting  20.333333
21    16  22      23           source_class  20.333333
12    21  23      22       management_group  22.000000

# ds;lkafjs;dkfjdsa

In [91]:
testing = pd.read_csv("tanzanian_water_wells/X_test.csv")
X = pd.read_csv("tanzanian_water_wells/X_train.csv")
y = pd.read_csv("tanzanian_water_wells/y_train.csv")['status_group']

In [92]:
X = X.drop(['id', 'wpt_name', 'subvillage', 'installer', 'funder', 'scheme_name', 'ward', 'date_recorded', 'recorded_by'], axis=1)
testing = testing.drop(['id', 'wpt_name', 'subvillage', 'installer', 'funder', 'scheme_name', 'ward', 'date_recorded', 'recorded_by'], axis=1)

In [93]:
df = pd.concat([X, y], axis=1)

In [94]:
f_sample = df[df.status_group=='functional'].sample(n=1000)

In [95]:
fnr_sample = df[df.status_group=='functional needs repair']

In [96]:
df = pd.concat([f_sample, fnr_sample])

In [97]:
X = df.drop(['status_group'], axis=1)

In [98]:
y = df['status_group']

# Defining the train and test sets

In [99]:
# Eliminating null values from X_train
X.scheme_management.fillna("None", inplace=True)
X.permit.fillna('Unknown', inplace=True)
X.public_meeting.fillna('Unknown', inplace=True)

# X['public_meeting'] = X['public_meeting'].map({True: 'Yes', False: 'No', 'Unknown': 'Unknown'})
X['permit'] = X['permit'].map({True: 'Yes', False: 'No', 'Unknown': 'Unknown'})
X['gps_height'] = X['gps_height'].astype('float64')
# X['district_code'] = X['district_code'].astype('float64')
X['population'] = X['population'].astype('float64')
X['construction_year'] = X['construction_year'].astype('int64')
X['region_code'] = X['region_code'].astype('str')
X['district_code'] = X['district_code'].astype('str')

X_cat = X.select_dtypes(exclude=['float64', 'int64'])
X_cat = X_cat.astype('str')
X_numeric = X.select_dtypes(['float64', 'int64'])

oe = OrdinalEncoder()
oe.fit(X_cat)
X_cat = pd.DataFrame(oe.transform(X_cat), index = X_cat.index, columns = X_cat.columns)

mms = MinMaxScaler()
mms.fit(X_numeric)
X_numeric = pd.DataFrame(mms.transform(X_numeric), columns = X_numeric.columns, index = X_numeric.index)

y = y.map({'functional': 0, 'functional needs repair': 1, 'non functional': 2})

In [100]:
names = ['chi2', 'mi', 'forest']

functions = [SelectKBest(score_func=chi2, k='all').fit(X_cat, y), 
             SelectKBest(score_func=mutual_info_classif, k='all').fit(X_cat, y), 
             RandomForestClassifier(random_state=42, n_jobs=6, class_weight='balanced').fit(X_cat, y)]

function_results = {name: None for name in names}

for name, function in list(zip(names, functions)):
    try:
        function_results[name] = pd.DataFrame({'feature': function.feature_names_in_, 'score': function.scores_}).sort_values(by=['score'], ascending=False).reset_index()
    except:
        function_results[name] = pd.DataFrame({'feature': function.feature_names_in_, 'score': function.feature_importances_}).sort_values(by=['score'], ascending=False).reset_index()

In [101]:
cols = list(X_cat.columns)

rankings = {name: [] for name in names}

for name in names:
    df = function_results[name].sort_values(by=['score'], ascending=False).reset_index()
    for col in cols:
        rankings[name].append(df[df.feature == col].index[0])
        
        
rankings = pd.DataFrame(rankings)
rankings['feature'] = cols
rankings['average'] = rankings.apply(lambda row: (row.chi2 + row.mi + row.forest)/3, axis=1)
rankings.sort_values(by=['average'])

    chi2  mi  forest                feature    average
4      0   0       0                    lga   0.000000
3      1   5       1          district_code   2.333333
2      5   2       2            region_code   3.000000
0     10   3       4                  basin   5.666667
14     7  11       5           payment_type   7.666667
9      3   7      13  extraction_type_group   7.666667
8      9   6      10        extraction_type   8.333333
6      8  10       7      scheme_management   8.333333
1     23   1       3                 region   9.000000
13     6  16       6                payment   9.333333
10     2  15      15  extraction_type_class  10.666667
21     4  12      19           source_class  11.666667
22    19   8       8        waterpoint_type  11.666667
18    12  13      12         quantity_group  12.333333
19    17   4      17                 source  12.666667
17    11  20      11               quantity  14.000000
5     18   9      16         public_meeting  14.333333
11    16  21       9             management  15.333333
20    15  17      18            source_type  16.666667
7     14  23      14                 permit  17.000000
12    13  18      22       management_group  17.666667
23    22  14      20  waterpoint_type_group  18.666667
15    20  22      21          water_quality  21.000000
16    21  19      23          quality_group  21.000000

In [102]:
function_results['forest']

    index                feature     score
0       4                    lga  0.105027
1       3          district_code  0.089271
2       2            region_code  0.073106
3       1                 region  0.072547
4       0                  basin  0.063151
5      14           payment_type  0.055648
6      13                payment  0.053919
7       6      scheme_management  0.049522
8      22        waterpoint_type  0.045702
9      11             management  0.036792
10      8        extraction_type  0.034618
11     17               quantity  0.034577
12     18         quantity_group  0.034023
13      9  extraction_type_group  0.032154
14      7                 permit  0.030123
15     10  extraction_type_class  0.024599
16      5         public_meeting  0.024050
17     19                 source  0.022350
18     20            source_type  0.022197
19     21           source_class  0.022151
20     23  waterpoint_type_group  0.021662
21     15          water_quality  0.018639
22     12       management_group  0.017636
23     16          quality_group  0.016534