# Flatiron School Phase 3 Project

Student name: **Angelo Turri**

Student pace: **self paced**

Project finish date: **?**

Instructor name: **Mark Barbour**

Blog post URL: **?**

# Stakeholder

Trying to identify pumps that need to be fixed / they want to allocate their resources wisely.

# Data Origin & Description

The data was taken from **Kaggle link here**

Descriptions of any of the original variables can be found **below in the dictionary**.

Important variables in the original dataset include:

**list here**

# Rationale & Limitations

Why are you using **method**?

What about the current problem makes linear regression suitable?

Assumptions of our model


Kind of data used

In [113]:
import numpy as np
import pandas as pd
from tqdm import tqdm
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold, RandomizedSearchCV
from sklearn.linear_model import LinearRegression, LogisticRegression, Ridge, Lasso
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.metrics import accuracy_score, get_scorer_names, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, VotingClassifier
from sklearn.ensemble import HistGradientBoostingClassifier, ExtraTreesClassifier
from sklearn.ensemble import StackingClassifier
from sklearn.naive_bayes import GaussianNB, CategoricalNB
from sklearn.feature_selection import SelectKBest, chi2, mutual_info_classif
from xgboost import XGBClassifier
import xgboost as xgb
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.pipeline import Pipeline
from imblearn.over_sampling import SMOTE
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
from statistics import mode as md
from matplotlib import pyplot as plt
from IPython.display import clear_output, display_html 
from collections import Counter
from pprint import pprint
from itertools import product
import scipy.stats as ss

In [114]:
class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

In [115]:
testing = pd.read_csv("tanzanian_water_wells/X_test.csv")
X = pd.read_csv("tanzanian_water_wells/X_train.csv")
y = pd.read_csv("tanzanian_water_wells/y_train.csv")['status_group'].map({'functional': 2, 'functional needs repair': 0, 'non functional': 1})

# Feature Selection

There are quite a few features in this dataset (37). The descriptions of each of these features was taken from Kaggle and listed below. We will not be using all the features, for several reasons:

- Some do not correlate with the target variable (status_group), e.g., the row ID;
- Others have too many categories;
- Some variables differ massively in their values from one dataset to another;
- Others are near copies of different variables in the same dataset, making it pointless to use them.

In [117]:
desc = {'amount_tsh': 'Total static head (amount water available to waterpoint)',
                    'date_recorded': 'The date the row was entered',
                    'funder': 'Who funded the well',
                    'gps_height': 'Altitude of the well',
                    'installer': 'Organization that installed the well', 
                    'id': 'unique identifier of waterpoint',
                    'longitude': 'GPS coordinate',
                    'latitude': 'GPS coordinate',
                    'wpt_name': 'Name of the waterpoint if there is one',
                    'subvillage': 'Geographic location',
                    'region': 'Geographic location',
                    'region_code': 'Geographic location (coded)',
                    'district_code': 'Geographic location (coded)',
                    'lga': 'Geographic location',
                    'ward': 'Geographic location',
                    'population': 'Population around the well',
                    'public_meeting': 'True/False',
                    'recorded_by': 'Group entering this row of data',
                    'scheme_management': 'Who operates the waterpoint',
                    'scheme_name': 'Who operates the waterpoint',
                    'permit': 'If the waterpoint is permitted',
                    'construction_year': 'Year the waterpoint was constructed',
                    'extraction_type': 'The kind of extraction the waterpoint uses',
                    'extraction_type_group': 'The kind of extraction the waterpoint uses',
                    'extraction_type_class': 'The kind of extraction the waterpoint uses',
                    'management': 'How the waterpoint is managed',
                    'management_group': 'How the waterpoint is managed',
                    'payment': 'What the water costs',
                    'payment_type': 'What the water costs',
                    'water_quality': 'The quality of the water',
                    'quality_group': 'The quality of the water',
                    'quantity': 'The quantity of water',
                    'quantity_group': 'The quantity of water',
                    'source': 'The source of the water',
                    'source_type': 'The source of the water',
                    'source_class': 'The source of the water',
                    'waterpoint_type': 'The kind of waterpoint',
                    'waterpoint_type_group': 'The kind of waterpoint'}

### Variable inconsistency across train and test sets

We were given two datasets for analysis â€“ one training dataset, complete with feature and target variables, and a testing dataset, which only had the feature variables (the target values were hidden).

Our goal is to accurately predict the target values in the test dataset. To do this successfully, we must use features in our model that correlate well with the target

Unfortunately, some variables will correlate well with the target in our training dataset, but not so in the test dataset. These variables are categorical, and their categories differ from one dataset to another. In the table below, you see that some categorical variables differ massively in their values from one dataset to another. Therefore, any model that uses these variables will have less success in the test dataset than in the training dataset.

It seems like the following variables should be removed from our features:

- wpt_name
- subvillage
- installer
- funder
- scheme_name
- ward
- date_recorded

In [118]:
differences = []

columns = list(X.select_dtypes(exclude=['float64', 'int64']).columns)

for col in columns:
    difference = set(list(X[col])) ^ set(list(testing[col]))
    differences.append(len(difference))
    
differences_df = pd.DataFrame({'column': list(columns), 'differences': differences}).sort_values(by=['differences'], ascending=False)
differences_df.head(10)

             column  differences
3          wpt_name        43128
5        subvillage        15120
2         installer         1584
1            funder         1403
12      scheme_name         1251
8              ward          145
0     date_recorded           51
14  extraction_type            1
23         quantity            0
21    water_quality            0

In [119]:
X = X.drop(list(differences_df['column'])[:7], axis=1)
testing = testing.drop(list(differences_df['column'])[:7], axis=1)

### Dropping variables that do not correlate with the target column

Two variables, namely "id" and "recorded_by", do not correlate with the target column (status_group).

- **id** is a unique numerical identifier for waterpoints; each waterpoint has a different identifier. An identifier such as this one cannot meaningfully correlate with the target column.

- **recorded_by** has only one value in the entire dataset, and therefore cannot correlate with the target column

In [121]:
X.id

0        69572
1         8776
2        34310
3        67743
4        19728
         ...
59395    60739
59396    27263
59397    37057
59398    31282
59399    26348
Name: id, Length: 59400, dtype: int64

In [122]:
X.recorded_by.value_counts()

recorded_by
GeoData Consultants Ltd    59400
Name: count, dtype: int64

In [123]:
X = X.drop(['id', 'recorded_by'], axis=1)
testing = testing.drop(['id', 'recorded_by'], axis=1)

### Eliminating variables that correlate with each other

We want to eliminate colinearity. I am going to assume that the following groups of variables are strongly correlated with each other, based on the names they were given:

- **region** and **region_code**
- **scheme_management** and **scheme_name**
- **extraction_type**, **extraction_type_group** and **extraction_type_class**
- **management** and **management_group**
- **payment** and **payment_type**
- **water_quality** and **quality_group**
- **quantity** and **quantity_group**
- **source**, **source_type** and **source_class**
- **waterpoint_type** and **waterpoint_type_group**

How do we decide between these variables? I am going to use a number of different approaches to determine how strongly the variables correlate with our target variable, "status_group." Whichever of these variables more strongly correlates with status_group will be used in our models.

In [124]:
# Eliminating null values from X_train
X.scheme_management.fillna("None", inplace=True)
X.permit.fillna('Unknown', inplace=True)
X.public_meeting.fillna('Unknown', inplace=True)

# X['public_meeting'] = X['public_meeting'].map({True: 'Yes', False: 'No', 'Unknown': 'Unknown'})
X['permit'] = X['permit'].map({True: 'Yes', False: 'No', 'Unknown': 'Unknown'})
X['gps_height'] = X['gps_height'].astype('float64')
# X['district_code'] = X['district_code'].astype('float64')
X['population'] = X['population'].astype('float64')
X['construction_year'] = X['construction_year'].astype('int64')
X['region_code'] = X['region_code'].astype('str')
X['district_code'] = X['district_code'].astype('str')

X_cat = X.select_dtypes(exclude=['float64', 'int64'])
X_cat = X_cat.astype('str')
X_numeric = X.select_dtypes(['float64', 'int64'])

oe = OrdinalEncoder()
oe.fit(X_cat)
X_cat = pd.DataFrame(oe.transform(X_cat), index = X_cat.index, columns = X_cat.columns)

mms = MinMaxScaler()
mms.fit(X_numeric)
X_numeric = pd.DataFrame(mms.transform(X_numeric), columns = X_numeric.columns, index = X_numeric.index)

In [126]:
names = ['chi2', 'mi', 'forest']

functions = [SelectKBest(score_func=chi2, k='all').fit(X_cat, y), 
             SelectKBest(score_func=mutual_info_classif, k='all').fit(X_cat, y), 
             RandomForestClassifier(random_state=42, n_jobs=6, class_weight='balanced').fit(X_cat, y)]

function_results = {name: None for name in names}

for name, function in list(zip(names, functions)):
    try:
        function_results[name] = pd.DataFrame({'feature': function.feature_names_in_, 'score': function.scores_}).sort_values(by=['score'], ascending=False).reset_index()
    except:
        function_results[name] = pd.DataFrame({'feature': function.feature_names_in_, 'score': function.feature_importances_}).sort_values(by=['score'], ascending=False).reset_index()

In [127]:
cols = list(X_cat.columns)

rankings = {name: [] for name in names}

for name in names:
    df = function_results[name].sort_values(by=['score'], ascending=False).reset_index()
    for col in cols:
        rankings[name].append(df[df.feature == col].index[0])
        
        
rankings = pd.DataFrame(rankings)
rankings['feature'] = cols
rankings['average'] = rankings.apply(lambda row: (row.chi2 + row.mi + row.forest)/3, axis=1)
rankings.sort_values(by=['average'])

    chi2  mi  forest                feature    average
4      0   2       2                    lga   1.333333
17    11   0       0               quantity   3.666667
18    10   1       1         quantity_group   4.000000
22     3   3       7        waterpoint_type   4.333333
1      6   8       5                 region   6.333333
10     1   6      12  extraction_type_class   6.333333
2      7   9       4            region_code   6.666667
9      2   5      13  extraction_type_group   6.666667
8      4   4      14        extraction_type   7.333333
13     8  10       9                payment   9.000000
23     5   7      17  waterpoint_type_group   9.666667
3      9  19       3          district_code  10.333333
14    13  11       8           payment_type  10.666667
0     18  17       6                  basin  13.666667
6     17  16      10      scheme_management  14.333333
19    14  14      15                 source  14.333333
11    19  13      11             management  14.333333
16    15  12      21          quality_group  16.000000
20    12  18      19            source_type  16.333333
7     20  22      16                 permit  19.333333
15    23  15      20          water_quality  19.333333
5     22  21      18         public_meeting  20.333333
21    16  23      22           source_class  20.333333
12    21  20      23       management_group  21.333333

This determines which variables we will keep, and which we will eliminate. The ones we will eliminate are:

- quantity_group
- waterpoint_type_group
- region_code
- extraction_type_group
- extraction_type
- payment_type
- management
- management_group
- water_quality
- source_type
- source_class